/* SDHoneycomb.js组件的配套样式*/

.sd-honeycomb-row-display{
/*横向排列的蜂窝*/
	display: flex; 
	justify-content: flex-start; 
}
.sd-honeycomb-row-display:nth-child(2n){
	transform:translateX(0.45rem);
}
.sd-honeycomb-row-display:nth-child(n + 2){
	margin-top: -0.12rem;
}
.sd-honeycomb-row-display>div{
	clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.sd-honeycomb-column-display{
/*竖向排列的蜂窝*/
	display: flex; 
	flex-direction:column;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	display: inline-block;
}
.sd-honeycomb-column-display:nth-child(2n){
	transform:translateY(-0.45rem);
}
.sd-honeycomb-column-display:nth-child(n + 2){
	margin-left: -0.12rem;
}
.sd-honeycomb-column-display>div{
	clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%); 
}
/*蜂窝单元的默认样式，如果在调用render函数时没有传入className时默认会使用本样式*/
.sd-honeycomb-cell {
	/*蜂窝内单元格样式*/
	font-family:shuidrinking;/*该样式只用于设置每个蜂窝里的图案内容*/
	color:#ffffff;
	background-color:#dedede;/*单元格的具体颜色会在render函数中被设置*/
	font-size: 0.24rem;
	text-align: center;
	cursor:pointer;
	/* 等宽属性会使宽高失效而铺满 flex: 1; */
	width: 0.8rem; 
	height: 0.8rem; 
	line-height: 0.8rem;
	flex-shrink:1;
	margin:2px;
	/* background-color: #1ea0ff; */
	/* 
	顶部是边
	clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%); 
	*/
	/*
	顶部是角
	clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	*/
	--sc:1;
	--op:1;
	transform: scale(var(--sc));
	transition: 0.5s;
	opacity: var(--op);
}
.sd-honeycomb-cell:hover{
	background-color: #ff821e;
}