	<style>
		.flexbox {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.countdown-tool-div {
			font-family: Arial, sans-serif;
			font-size:16px;
			height:50px;
			line-height:50px;
			text-align:center;
			background-color: #f0f0f0;
			display: flex;
			width: 300px;
			justify-content: center;
			align-content: center;
			align-items: center;
		}
		
		.seconds-input {
			display:inline-block;font-size: 16px; height:32px;line-height:32px;width: 100px; text-align: center;padding:1px;
			border: 1px solid #676767;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		.start-countdown-button {
			display:inline-block;padding:0 10px; font-size: 16px; height:34px;line-height:34px; cursor: pointer;
			border: 1px solid #676767;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		.show-left-time-div{
			height:40px;
			line-height:40px;
			width:100%;
			text-align:center;
			font-weight:bold;
		}
	</style>
	<script type="text/javascript" >
		let countdownInterval;
		let showLeftTime;
		function countdown() {
			showLeftTime=document.getElementById('timeInput');
			const timeInput = document.getElementById('timeInput').value;
			let timeRemaining = parseInt(timeInput);

			if (isNaN(timeRemaining) || timeRemaining <= 0) {
				alert("请输入一个有效的正整数！");
				return;
			}

			clearInterval(countdownInterval); // 清除之前的倒计时  
			updateDisplay(timeRemaining);

			countdownInterval = setInterval(
					function() {
						timeRemaining--;
						if (timeRemaining < 0) {
							clearInterval(countdownInterval);
							showLeftTime.value = "时间到！";
						}
						else {
							updateDisplay(timeRemaining);
						}
					}, 1000);
		}
		function updateDisplay(seconds) {
			const minutes = Math.floor(seconds / 60);
			const remainingSeconds = seconds % 60;
			showLeftTime.value = String(minutes).padStart(2, '0')+ ':' + String(remainingSeconds).padStart(2, '0');
		}
	</script>
<div class="flexbox">
	<div class="countdown-tool-div">
		<input type="text" class="seconds-input" id="timeInput" placeholder="输入秒数" min="1">
		<div class="start-countdown-button" onclick="countdown();">开始倒计时</div>
	</div>
</div>
